.banners{
    margin-top: 6em;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}


@media screen and (max-width: 900px) {

    .banners{
        flex-direction: column;
    }

    .banner{
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
    }

}