.containerProducts {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.product {
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.product p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.linkDetails{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  transition: .2s;
}

.linkDetails:hover{
  background-color: white;
  color: black;
}

@media screen and (max-width: 900px) {
  .containerProducts {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

  }

  .product {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    text-align: center;
  }

  .linkDetails {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
  }
}
