.footer{
    width: 100vw;
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.footerItem{
    margin: 1em;
}

.footerItem a{
    text-decoration: underline;
}

.footer ul{
    list-style: none;
    text-align: left;
    color: grey;
}

.footer li{
    cursor: pointer;
}

.wrapperFooter{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.insta{
    cursor: pointer;
}