.containerProducts {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;


}

.product {
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}



.wrapperPrice{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.discountPrice{
  text-decoration: line-through;
  color: rgb(58, 58, 58);
  margin-right: .2em;
}

.rightPrice{
  color: #2f5cff;
  font-weight: bold;
}


.wrapperContainerProducts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.filters{
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.277);
  padding-top: 5em;
  
}

.filters ul{
  padding-top: 5em;
  list-style: none;
}

.filters li{
  text-transform: uppercase;
  margin-bottom: .5em;
  cursor: pointer;
  transition: .2s;
}

.filters li:hover{
  color: #2f5cff;
}

.clearFilter{
  cursor: pointer;
  background-color: #2f5cff;
  padding: 1em;
  color: white;
  border: 1px solid #2f5cff;
  width: 50%;
  margin-top: 1em;
  border-radius: 6px;
  transition: .2s;
}

.clearFilter:hover{
  box-shadow: 1px 2px 10px grey;
}

.dontFind{
  height: 50%;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f5cff;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  flex-direction: column;
  text-align: center;
}

.dontFind p{
  margin-top: 2em;
}

.dontFind a{
  color: black;
  text-decoration: underline;
}



@media screen and (max-width: 900px) {
  .containerProducts {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    
  }

  .product {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    text-align: center;

  }

  .linkDetails {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s;
  }

  .wrapperContainerProducts{
    display: flex;
    flex-direction: column;
    
  }

  .filters{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.277);
    padding-top: 3em;
    padding-bottom: 3em;
    
  }
  
  .filters ul{
    padding-top: 1em;
    list-style: none;
  }
  
  .filters li{
    text-transform: uppercase;
    margin-bottom: .5em;
    cursor: pointer;
    transition: .2s;
  }
  
  .filters li:hover{
    color: #2f5cff;
  }
  
  .clearFilter{
    cursor: pointer;
    background-color: #2f5cff;
    padding: 1em;
    color: white;
    border: 1px solid #2f5cff;
    width: 50%;
    margin-top: 1em;
    border-radius: 6px;
    transition: .2s;
  }
  
  .clearFilter:hover{
    box-shadow: 1px 2px 10px grey;
  }
  
}
