@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 1.2rem;
  font-size: 1.2em;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 50%;
}

.filter input {
  width: 90%;
  height: 100%;
  padding: 1em;
  border: none;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.filter button {
  background-color: #2f5cff;
  width: 10%;
  height: 100%;
  padding: 0.7em;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.cart {
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.cart span {
  background-color: #2f5cff;
  border-radius: 50%;
  color: white;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.8em;
  height: 20px;
  width: 20px;
  margin-bottom: -30%;
}

.subContainer {
  background-color: rgb(255, 255, 255);
  padding: 1em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  box-shadow: 0px 3px 10px grey;
}

.subContainer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.subContainer li {
  margin: 0 0.8em 0 0.8em;
  transition: 0.2s;
  cursor: pointer;
}

.subContainer li:hover {
  color: #2f5cff;
}

.subHeaderMobile {
  display: none;
}

.headerMobile {
  display: none;
}

.sideMenu{
  display: none;
  background-color: rgba(0, 0, 0, 0.934);
  position: absolute;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  transition: .5s;
  justify-content: center;

}

.sideMenu ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 900px) {
  .containerPc {
    display: none;
  }
  .headerMobile {
    display: flex;
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .titleMobile {
    font-weight: bold;
    font-size: 1.5em;
  }
  .btnMenuMobile {
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }
  .cartIconMobile {
    height: 30px;
    width: 30px;
  }
  .wrapperIconsHeaderMobile {
    display: flex;
  }
  .subHeaderMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    box-shadow: 0px 3px 10px grey;
  }
  .subHeaderMobile input{
    border: 1px solid grey;
    width: 100%;
  }
  .subHeaderMobile button{
    
    height: 3.3em;
    width: 3.3em;
  }

  

}
