.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1.2rem;
    font-size: 1.2em;
}

.container ul{
    display: flex;
    list-style: none;
}

.container li{
    margin: 0px 15px 0px 15px;
    transition: .2s;
    cursor: pointer;
}

.container li:hover{
    color: rgb(129, 129, 129);
}


.container_mobile{
    display: none;
}

.nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 100;
    box-shadow: 21px 2px 48px rgba(0, 0, 0, 0.09);
    background-color: red;
    color: white;
}

.inner_nav{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.menuBtn{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.cart span{
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cartList{
    position: absolute;
    top: 10%;
    display: flex;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 999; */
}

.cartList ul{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(164, 164, 164);
    
}

.cartList li{
    padding: 10px;
    color: black;
}

.cartList button{
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    width: 33%;
    font-size: 1.2em;
    cursor: pointer;
}

.finalizar{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .container ul{
        display: none;
        list-style: none;
    }

    .container_mobile{
        display: flex;
        color: white;
    }
    .nav{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        z-index: 100;
        box-shadow: 21px 2px 48px rgba(0, 0, 0, 0.09);
        background-color: red;
        color: white;
    }
    
    .inner_nav{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }    
  }